* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font: bold 12px/14px Roboto;
  color: #475364;
}

.wrapper {
  width: 1440px;
  height: 100vh;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header header" "aside box";
  -ms-grid-columns: 80px 1fr;
      grid-template-columns: 80px 1fr;
  -ms-grid-rows: 66px 1fr;
      grid-template-rows: 66px 1fr;
}

.header {
  background-color: #282E37;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: header;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 27px;
}

.header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .logo__word {
  margin-left: 10px;
}

.sidebar {
  background-color: #323A45;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: aside;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.clients {
  background-color: #282E37;
  width: 50px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
}

.clients__icon {
  fill: #FFFFFF;
  stroke: #FFFFFF;
}

.box {
  background-color: #EFF3F5;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: box;
  padding: 20px 30px;
}

.box__header {
  margin-bottom: 24px;
}

.box__header h2 {
  font-size: 22px;
  line-height: 22px;
  margin-bottom: 6px;
}

.box__header p {
  font: normal 12px/14px Roboto;
  font-size: 12px;
  line-height: 14px;
}

.table {
  background-color: #FFFFFF;
  width: 100%;
  border-collapse: collapse;
  height: 74px;
}

.table__row:not(:last-child) {
  border-bottom: 2px solid #EFF3F5;
}

.table__header {
  height: 40px;
}

.table__head,
.table__cell {
  text-align: left;
  padding-left: 20px;
}

.table__cell {
  height: 74px;
}

.table__head {
  padding-left: 20px;
  height: 40px;
}

.table__title {
  color: #475364;
  font: bold 12px/14px Roboto;
  font-size: 11px;
  line-height: 12px;
  text-transform: uppercase;
}

.table__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.client__wrapper {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.client__code {
  font: normal 10px/12px Roboto;
  color: #8EA4B5;
  margin-top: 5px;
}

.contract__wrapper {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.contract__type {
  font: normal 10px/12px Roboto;
  color: #8EA4B5;
  margin-top: 5px;
}

.objects__num {
  position: relative;
  padding-left: 18px;
}

.objects__num::before {
  content: '';
  position: absolute;
  width: 12px;
  height: 14px;
  left: 0;
  background-image: url("img/icon-object.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.values .table__wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.values__price {
  position: relative;
  padding-left: 18px;
  margin-bottom: 5px;
}

.values__price::before {
  content: '';
  position: absolute;
  width: 12px;
  height: 14px;
  left: 0;
  background-image: url("img/icon-money.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.values__val {
  position: relative;
  padding-left: 18px;
}

.values__val::before {
  content: '';
  position: absolute;
  width: 12px;
  height: 14px;
  left: 0;
  background-image: url("img/icon-recycle.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.zones .table__wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.zones__num {
  position: relative;
  padding-left: 18px;
  margin-bottom: 5px;
}

.zones__num::before {
  content: '';
  position: absolute;
  width: 12px;
  height: 14px;
  left: 0;
  background-image: url("img/icon-area.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.zones__containers {
  position: relative;
  padding-left: 18px;
}

.zones__containers::before {
  content: '';
  position: absolute;
  width: 12px;
  height: 14px;
  left: 0;
  background-image: url("img/icon-container.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.drop-trg {
  padding: 0 20px;
}

.drop-trg__btn {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #E8EFF1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.drop-trg__btn:hover svg {
  fill: #FF5943;
  stroke: #FF5943;
}

.icon {
  width: 36px;
  height: 36px;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: #FFFFFF;
  stroke: #FFFFFF;
  margin-right: 10px;
}

.icon--neutral {
  background-color: #E8EFF1;
  fill: #8EA4B5;
  stroke: #8EA4B5;
}

.icon--warn {
  background-color: #FF5943;
}

.icon--good {
  background-color: #B2D170;
}

.bar {
  height: 36px;
  border-radius: 3px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: #FFFFFF;
}

.bar__icon {
  margin-right: 15px;
  border-right: 1px solid #FFFFFF;
}

.bar__btn {
  margin-left: auto;
  border-left: 1px solid #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 16px;
  text-decoration: none;
  color: #FFFFFF;
  text-transform: uppercase;
}

.bar__btn:hover, .bar__btn:active {
  color: #282E37;
}

.bar--warn {
  background-color: #FF5943;
}

.bar--warn .bar__icon {
  border-color: #E84F3A;
}

.bar--warn .bar__btn {
  border-color: #E84F3A;
}

.bar--neutral {
  background-color: #8EA4B5;
}

.bar--neutral .bar__icon {
  border-color: #7E94A4;
}

.bar--neutral .bar__btn {
  border-color: #7E94A4;
}

.vis-hidden {
  visibility: hidden;
}

.open {
  height: 300px;
  vertical-align: top;
}
/*# sourceMappingURL=style.css.map */